* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body  {
  transition-duration: 0.4s;
  margin-left: 20%;
  margin-right: 20%;
}

h1 {
  text-align: center;
  font-weight: bold;
}

.heading {
  margin-top: 6rem;
}

.headingStart {
  top: 0;
  visibility: hidden;
  transition-duration: 0.6s;
  opacity: 0;
}

.headingEnd {
  top: 6rem;
  visibility: visible;
  transition-duration: 0.6s;
  opacity: 1;
}

.subheading {
  text-align: center;
  color: grey;
}

.searchBar {
  background-color: #f2f2f2;
}

.searchBarDarkMode {
  background-color: #222228;
  color: #777777;
  border: #1a1e21;
}

.searchBarDarkMode:focus {
  background-color: #222228;
  color: #777777;
  border: #1a1e21;
}

.searchBarWidth {
  max-width: 30rem;
}

.darkMode {
  color: #f7f7f7;
  background-color: #151518;
  transition-duration: 0.4s;
}

.darkModeButton {
  position: fixed;
  top: 20px;
  left: 20px;
}

.darkModeToggleButton {
  color: #777777;
  background-color: #222228;
}

.darkModeToggleButton:hover {
  color: #777777;
  background-color: #222228;
}

@media only screen and (max-width: 600px) {
  .searchBarWidth {
    width: 20rem;
  }
}